<footer class="">
  <div class="container d-flex justify-content-between">
      <div class="address-cubo">
          <span class="d-block"><strong>CUBO</strong></span>
          <span class="d-block">Rua Casa do Ator, 919</span>
          <span class="d-block">04546-003 - São Paulo - SP</span>
      </div>
      <div class="social-icons mt-4">
          <a class="face" target="_blank" href="#">
              <i class='fab fa-facebook-f'></i>
          </a>
          <a class="gplus" target="_blank" href="#">
              <i class="fab fa-google-plus-g"></i>
          </a>
          <a class="twt" target="_blank" href="#">
              <i class="fab fa-twitter"></i>
          </a>
          <a class="yt" target="_blank" href="#">
              <i class="fab fa-youtube"></i>
          </a>
      </div>
  </div>
  <div class="footer d-flex justify-content-center" style="clear:both;">
      <span class="mt-3">&copy; copyright 2016 - Lorem ipsum dolor sit amet.</span>
  </div>
</footer>