<section id="about">
  <div class="container-fluid p-0">
      <div class="row">
          <div class="col-md-6 p-0">
              <img class="img-fluid w-100 d-lg-block d-xl-none" id="img-about" src="/assets/img/img-about.png">
              <ul id="scene" class="scene d-none d-xl-block">
                  <li class="layer" data-depth="0.00"><img class="img-fluid w-100 img-parallax-0"
                          src="/assets/img/teste 1.png"></li>
                  <li class="layer" data-depth="0.70"><img class="img-parallax-1"
                          src="/assets/img/teste 2.png"></li>
                  <li class="layer" data-depth="0.92"><img class="img-parallax-2"
                          src="/assets/img/teste 3.png"></li>
              </ul>
          </div>
          <div class="col-md-6 about">
              <div class="box-about m-5">
                  <h1 class="h1-title title-left text-uppercase">Sobre nós</h1>
                  <p>
                      In sit amet mi sollicitudin, maximus risus sed, eleifend turpis. Ut aliquet fermentum
                      leo eu
                      vestibulum.
                      Aliquam vitae iaculis neque. Proin vitae quam ac lectus fermentum viverra. Vestibulum eu
                      sem
                      lobortis, rhoncus purus in,
                      mattis augue. Proin nec tempor ipsum. Sed eu libero at arcu dictum rhoncus. Vestibulum
                      at
                      tempus
                      felis. Vestibulum mattis
                      tincidunt eleifend.In sit amet mi sollicitudin, maximus risus sed, eleifend turpis. Ut
                      aliquet
                      fermentum leo eu vestibulum.
                      Aliquam vitae iaculis neque. Proin vitae quam ac lectus fermentum viverra. Vestibulum eu
                      sem
                      lobortis, rhoncus purus in, mattis augue.
                  </p>
              </div>
              <div>
                  <ul class="list-inline list-social">
                      <li class="list-inline-item"><span class="circle graph_1"></span></li>
                      <li class="list-inline-item"><span class="circle graph_1"></span></li>
                      <li class="list-inline-item"><span class="circle graph_1"></span></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>