<section class="service">
  <div class="container mb-5">
      <div class="title-service text-center">
          <h1 class="text-uppercase">Serviço</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="row">
          <div class="row col-md-6">
              <div class="col-xl-2 col-lg-3" align="center">
                  <img class="img-fluid" src="/assets/img/serv_1.png" />
              </div>
              <div class="col-xl-10 col-lg-9">
                  <h5 class="text-uppercase">rhoncus purus in</h5>
                  <p>Donec sit amet erat ut quam dignissim bibendum porta enim, ut acor tempor felis diam non
                      massa.
                      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                      egestas.
                  </p>
              </div>
          </div>
          <div class="row col-md-6">
              <div class="col-xl-2 col-lg-3" align="center">
                  <img class="img-fluid" src="/assets/img/serv_2.png" />
              </div>
              <div class="col-xl-10 col-lg-9 img-fluid">
                  <h5 class="text-uppercase">elementum lacus vitae</h5>
                  <p>Donec sit amet erat ut quam dignissim bibendum porta enim, ut acor tempor felis diam non
                      massa.
                      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                      egestas.
                  </p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="row col-md-6">
              <div class="col-xl-2 col-lg-3" align="center">
                  <img class="img-fluid" src="/assets/img/serv_3.png" />
              </div>
              <div class="col-xl-10 col-lg-9 img-fluid">
                  <h5 class="text-uppercase">mattis augue tristique</h5>
                  <p>Donec sit amet erat ut quam dignissim bibendum porta enim, ut acor tempor felis diam non
                      massa.
                      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                      egestas.
                  </p>
              </div>
          </div>
          <div class="row col-md-6">
              <div class="col-xl-2 col-lg-3" align="center">
                  <img class="img-fluid" src="/assets/img/serv_4.png" />
              </div>
              <div class="col-xl-10 col-lg-9 img-fluid">
                  <h5 class="text-uppercase">Mauris bibendum odio ligula</h5>
                  <p>Donec sit amet erat ut quam dignissim bibendum porta enim, ut acor tempor felis diam non
                      massa.
                      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                      egestas.
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>