<header id="header">
  <div class="bd-carousel">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner carousel_cubo">
              <div class="carousel-item active slider">
                  <div class="d-block message-box-1">
                      <h1 class="title-box">First slide label</h1>
                      <p class="text-box">Aenean ultrices ultricies vulputate. Donec ut pulvinar ipsum.
                          Maecenas tincidunt lorem at enim pharetra hendrerit vivamus in elemene. </p>
                  </div>
              </div>
              <div class="carousel-item slider">
                  <div class="d-block message-box-2">
                      <h1 class="title-box">Second slide label</h1>
                      <p class="text-box">Aenean ultrices ultricies vulputate. Donec ut pulvinar ipsum.
                          Maecenas tincidunt lorem at enim pharetra hendrerit vivamus in elemene. </p>
                  </div>
              </div>
              <div class="carousel-item slider">
                  <div class="d-block message-box-3">
                      <h1 class="title-box">Third slide label</h1>
                      <p class="text-box">Aenean ultrices ultricies vulputate. Donec ut pulvinar ipsum.
                          Maecenas tincidunt lorem at enim pharetra hendrerit vivamus in elemene. </p>
                  </div>
              </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
          <ol class="carousel-indicators">
              <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
      </div>
  </div>
</header>